*{
  margin:0;
  padding:0;
}
.text-center{
  text-align: center;
}

#mosquito-trap-container{
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn{
  background-color: rgb(108, 141, 153);
  padding:1%;
  border: 1px solid blue; 
  color: white;
  cursor: pointer;
}

.btn:hover{
  background-color: blue;
  padding:1%;
  border: 1px solid blue; 
  color: white;
}

.mosquito{
  position: absolute;
  top: 0;
  left: 0;
}